@charset "UTF-8";
/*  ===================================
    GLOBAL
    =================================== */
* {
    box-sizing: border-box;
}
.container{
  margin-top: 20px;
}
html{
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 100%;
  color: #222;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  padding-top: 80px;
  padding-bottom: 100px;
  margin: auto;
  text-align: center;
  background-color: rgb(253, 255, 250);
}
ol, ul {
  list-style: none;
  padding-left: 0px;
}
table, tr, td {
  border-spacing: 0;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
}

h3 {
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/*  =========================================
    HELPER CLASSES
    ========================================= */
.caption {
  font-style: italic;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*  ===================================
    HEADER
    =================================== */

.navbar-fixed-top {
  text-align: center;
  padding-bottom: 10px;
}
/*  ===================================
    BODY
    =================================== */
.accolades {
  padding: 0px 0px 25px 0px;
}
.accolades img {
  float:left;
  display: inline;
  padding: 10px 15px 5px 0px;
}
.arrowBox h4{
  text-align: left;
  padding-left: 10px;
  color: #FF7989;
  font-size: 1.5em;
}
.arrowBox {
  position: relative;
  background: #fff;
  border: 2px solid #FF7989;
  padding: 15px 15px ;
}
.arrowBox:after, .arrowBox:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrowBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.arrowBox:before {
  border-color: rgba(255, 121, 137, 0);
  border-right-color: #FF7989;
  border-width: 13px;
  margin-top: -13px;
}
.assistant{
  text-align: left;
  text-transform: uppercase;
  margin-top: 25px;
}
.assistant img{
  max-width: 228px;
}
.assistant h2{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  color: rgb(53, 180, 151);
  font-size:1.25em;
  font-weight:700;
}
.assistant h3{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.25px;
  font-size:0.85em;
  font-weight:bold;
}
.assistant p{
  letter-spacing: 1.25px;
  font-size:0.85em;
}
.assistant li{
  color: rgb(73, 144, 224);
  font-size:0.85em;
  font-weight: 500;
  line-height: 2.5em;
}
.assistant li img{
  margin-right: 10px; 
}
.infoBox {
  text-align: left;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(207,207,207,0.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(207,207,207,0.4);
  box-shadow: 0px 0px 2px 2px rgba(207,207,207,0.4);
}
.infoBox h3{
  color: rgb(53, 180, 151);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 15px;
}
.infoBox h4{
  font-weight: 700;
  margin-left: 15px;
}
.infoBox h4 a{
  color: rgb(35,107,170);
}
.infoBox h5{
  font-family: 'Montserrat', sans-serif;
  color: rgb(126, 211, 33);
  font-weight: 500;
  margin-left: 15px;
  font-size: 1.1em;
}
.infoBox li{
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.75;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px center;
}
.infoBox iframe{
  display: block;
}
.infoBox p{
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.75;
  padding-bottom: 10px;
  margin-left: 15px;
}
.infoBox ul{
  list-style-type: circle;
  margin-left: 15px; 
}
.linky{
  color:rgb(35, 107, 170);
}
#list-unstyled {
    list-style: none;
}
#sidebar {
  padding: 0px 15px;
  margin: auto; 
}
.panel-heading{
  background-color: rgb(255, 255, 255);
}
#query {
  text-align: center;
  margin-bottom: 15px;
  position: sticky; top: 10px;
}
.queryhead{
  font-size: 2em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  font-style: italic;
  font-weight: 100; 
}
.querypic{
  display: inline;
  vertical-align: text-top;
  float: left;
  padding-right: 25px;
}
.recoBox {
  text-align: left;
  padding: 0px 10px;
  background-color: rgb(239, 246, 255);
}
.recoBox > .panel-heading{
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-bottom: 0px;
}
.recoBox > .arrowBox{
  font-family: "Open Sans", sans-serif;
  margin-left: 10px;
  text-align: left;
  padding-left: 10px;
  color: #FF7989;
  font-size: 1.5em;
  line-height: 1.2em;
}
.recoBox img{
  display: block;
  margin: 0px auto;
  max-width: 260px;
  max-height: 300px;
}
.recoLabel button{
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 15px;
}
#review a{
  color: black;
}
.ribbon p{
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px;
  color: rgb(244, 156, 6); 
}
.takeaway{
  margin-bottom: 15px;
}

/*  ===================================
    CAROUSEL
    =================================== */
#owl-container .owl-carousel{
  margin: 3px;
}
#owl-container img{
  display: inline-block;
  max-height: 250px;
}
#owl-container a{
  color:black;
}

/*  ===================================
    FOOTER
    =================================== */
.navbar-fixed-bottom button{
  padding: 10px 10px;
  margin-bottom: 25px;
}
.navbar-fixed-bottom p{
  color: white;
}
.navbar-fixed-bottom {
  background-color: rgba(64, 137, 172, .9);
}

/*  ===================================
    SIDEBAR
    =================================== */

/* Small devices (mobile, 480px and under) */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #sidebar.affix-top {
    position: static;
    margin-top:20px;
    width:320px;
  }
  #sidebar.affix {
    position: initial;
    top:50px;
    width:320px;
  }
  footer button #tips{
    width: 45%;
  }
  .querypic{
  padding-top: 15px;
  }
  .accolades img {
  float: none;
  display: block;
  padding: 0px 0px;
  }
}

/* Tablet devices (mobile, 760px and up) */
@media (min-width: 768px) {
  #sidebar.affix-top {
    position: static;
    margin-top:20px;
    width:320px;
  }
  #sidebar.affix {
    position: initial;
    top:50px;
    width:320px;
  }
  footer button #tips{
    width: 10%;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .assistant{
  text-align: left;
  }
  #query {
  text-align: left;
  margin-bottom: 0px;
  }
  #sidebar.affix-top {
    position: static;
    margin-top:50px;
    width:228px;
  }
  #sidebar.affix {
    position: fixed;
    top:50px;
    width:228px;
    margin: 50px 17.250px;
  }
  #sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
  }
 footer button {
    width: 25%;
  }
} 

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* make the ribbon into carousel*/
  .assistant{
  text-align: left;
  }
  #query {
  text-align: left;
  margin-bottom: 0px;
}
}




